<h1>Welcome to <%= @site.name %></h1>

<p>
  Hi <%= @subscriber.first_name %>, Thanks for subscribing to the <%= @site.name %>. Please click the link to confirm your subscription.
</p>
<p><%= link_to "Confirm Subscription", confirm_subscriber_url(@subscriber.id) %></p>
