<div id="footerwrap" class="mt-3">


					<footer id="footer" class="pagewidth clearfix" itemscope="itemscope" itemtype="https://schema.org/WPFooter">


													<div class="back-top clearfix">
								<div class="arrow-up">
										<a href="#header"></a>
								</div>
							</div>

						<div class="main-col first clearfix">
							<div class="footer-left-wrap first">

															</div>

							<div class="footer-right-wrap">

																	<div class="footer-nav-wrap">
																			</div>
									<!-- /.footer-nav-wrap -->
																									<div class="footer-text clearfix">
										<div class="footer-text-inner">
																							<div class="one">© <a href="https://" + <%= @site.host %>><%= @site.name %></a> <%= Date.today.year %></div>																																	</div>
									</div>
									<!-- /.footer-text -->
															</div>
						</div>

																					<div class="section-col clearfix">
									<div class="footer-widgets-wrap">
																				<!-- /footer-widgets -->
									</div>
								</div>


					</footer>
					<!-- /#footer -->


				</div>
