<footer class="theme-footer-one">
  <div class="shape-one" data-aos="zoom-in-right"></div>
  <img src="<%= asset_path 'shape/shape-67.svg' %>" alt="" class="shape-two">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-sm-6 col-12 about-widget" data-aos="fade-up">
          <a href="<%= root_path %>" class="logo"><%= image_tag 'Logo2.svg', width: '150px' %></a>


        </div> <!-- /.about-widget -->
        <div class="col-lg-3  offset-md-2 col-lg-2 col-sm-6 col-12 footer-information" data-aos="fade-up">
          <h5 class="title">Contact details</h5>
          <p><a href="mailto:friends@businessdesign.institute" class="email" style="font-size:0.9rem;">friends@businessdesign.institute</a></p>

          <p>Australia only: <a href="#" class="phone">1300 456 789 </a><br>International: <a href="#" class="phone">+61 2 8845 5422</a></p>
          <!-- <p><a href="contact-us-standard.html" class="contact-us white-shdw-button"><i class="fas fa-sign-in-alt"></i> </a></p> -->
          <!-- <button class="line-button-one mb-3">Contact Page</button> -->
          <ul>
            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>

        </div>
        <div class="col-lg-2 col-sm-6 col-12 footer-list" data-aos="fade-up">
          <h5 class="title">Resources</h5>
          <ul>
            <li><a href="about-us-standard.html">About us.</a></li>
            <li><a href="project-standard.html">News.</a></li>
            <li><a href="team-standard.html">Team.</a></li>
            <li><a href="#">Dashboard.</a></li>
            <li><a href="blog-default.html">Library.</a></li>
          </ul>
        </div> <!-- /.footer-list -->
        <div class="col-lg-3 col-sm-6 col-12 footer-list" data-aos="fade-up">
          <h5 class="title">Workshops</h5>
          <ul>
            <li><a href="#">Business Model Innovation.</a></li>
            <li><a href="#">Learn. Adapt. Thrive.</a></li>
            <li><a href="#">Automate your business.</a></li>
            <li><a href="#">Choose your customers.</a></li>
            <li><a href="#">Make Data your Friend.</a></li>
            <li><a href="#">Future tech for small business.</a></li>
          </ul>
        </div> <!-- /.footer-recent-post -->


      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.top-footer -->

  <div class="container">
    <div class="bottom-footer">
      <div class="clearfix">
        <p>&copy; 2019 copyright all right reserved</p>
        <ul>
          <li><a href="<%= privacy_path %>">Privacy Policy.</a></li>
          <!-- <li><a href="faq.html">Faq.</a></li> -->
          <li><a href="#">Terms.</a></li>
        </ul>
      </div>
    </div> <!-- /.bottom-footer -->
  </div>
</footer> <!-- /.theme-footer-one -->
